$maxwidth: 100%;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    font-family: Montserrat sans-serif;
}

img{
    max-width: $maxwidth;
}

.container{
    max-width: $maxwidth;
    width: 1170px;
}


/* Header Section */

header{
    display: flex;
    justify-content: center;

    div{
        display: flex;
        justify-content: space-between;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $maxwidth;
    width: 403px;
    
    a{
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        text-decoration: none;
        color: #774E2E;
    }
}

/* End of Header Section */

footer{
    background-color: #774E2E;
    display: flex;
    justify-content: center;
    padding: 30px 0;

    img{
        width: 99px;
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
    }
}