$maxwidth: 100%;
$brown: #774E2E;
$orange: #F37F34;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
    font-family: Montserrat sans-serif;
}

img{
    max-width: $maxwidth;
}

.container{
    max-width: $maxwidth;
    width: 1170px;
}


/* Header Section */

header{
    display: flex;
    justify-content: center;

    div{
        display: flex;
        justify-content: space-between;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $maxwidth;
    width: 403px;
    
    a{
        font-size: 16px;
        font-weight: 500;
        line-height: 130%;
        text-decoration: none;
        color: $brown;
    }
}

/* End of Header Section */

/* Main Section */

.yummy{
    display: flex;
    justify-content: space-between;
    margin: 110px auto 0;

    &__section{
        width: 520px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__title{
            font-weight: 800;
            font-size: 110px;
            letter-spacing: 0.05em;
            color: $orange;
            
            span{
                font-weight: 800;
                font-size: 110px;
                letter-spacing: 0.05em;
                color: $brown;
            }
        }

        &__text{
            font-weight: 500;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: $brown;
        }

        &__button{
            padding: 21px 38px;
            max-width: $maxwidth;
            width: 343px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            background-color: $brown;
            color: #FFFFFF;
            text-decoration: none;
        }
    
        img{
            width: 575px;
        }
    }
}

.sweets{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 134px 0 154px;
    background-color: #FFF9EA;
    
    &__title{
        width: 1151px;
        font-weight: 700;
        font-size: 72px;
        line-height: 110%;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $orange;

        span{
            font-weight: 700;
            font-size: 72px;
            line-height: 110%;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: $brown;
        }
    }
    
    &__list{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        font-style: normal;
        
        li{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 36px;
            width: 370px;
            background-color: #fff;

            img{
                width: 370px;
                object-fit: contain;
            }

            h4{
                margin-top: 66px;
                font-weight: 600;
                font-size: 24px;
                line-height: 130%;
                letter-spacing: 0.01em;
                color: $brown;
            }

            p{
                margin-top: 18px;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: $brown;
            }
        }
    }
}

.advice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 155px auto;

    &__section{
        width: 555px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &__title{
            font-weight: 800;
            font-size: 64px;
            letter-spacing: 0.05em;
            color: $orange;

            span{
                font-weight: 800;
                font-size: 64px;
                letter-spacing: 0.05em;
                color: $brown;
            }
        }

        &__text{
            font-weight: 500;
            font-size: 22px;
            line-height: 150%;
            letter-spacing: 0.01em;
            color: $brown;
            margin-top: 30px;
        }

        h4{
            margin-top: 60px;
            font-weight: 600;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.01em;
            color: $brown;
        }

        ul{
            margin: 20px 0 0 20px;

            li{
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.01em;
                color: $brown;
            }
        }
    }

    img{
        width: 555px;
    }
}


/* End of Main Section */

/* Footer Section */

footer{
    background-color: #774E2E;
    display: flex;
    justify-content: center;
    padding: 30px 0;

    img{
        width: 99px;
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p{
        font-weight: 500;
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
    }
}

/* End of Footer Section */